root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.cmd]
end_of_line = crlf

[*.java]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
